# =========================
# Android Studio
# =========================

.gradle/
.idea/
local.properties

# Build output
build/
**/build/

# APKs
*.apk
*.aab
*.jks
*.keystore
*.p12

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Backup files
*.bak
*.orig

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Kotlin
*.kotlin_module

# IntelliJ
out/

# Generated
captures/
.externalNativeBuild/
.cxx/
.local-tools/
